[Unit]
Description=Start camera streams
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/RPi-Camera
ExecStart=/home/pi/RPi-Camera/server.py
KillMode=process

[Install]
WantedBy=multi-user.target
